<div id="space-task">
    <!-- Task list - search -->

    <div id="task">
        <div id="list">
            <div>
                <input type="text" placeholder="Buscar" id="input">
                <button type="submit" id="but"><i class="fa-light fa-magnifying-glass"></i></button>
            </div>

            <div class="tasks-list"><i class="fa-regular fa-list-check" id="t"></i></div>
            <div class="tarea">
                <label>Lista de Tareas</label>
            </div>
        </div>
    </div>
</div>

<!-- End task list -search -->