<!-- Table List -->
<div id="list">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="container">

                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Id</th>
                            <th scope="col" class="text-center">Mis tareas</th>
                            <th scope="col" class="text-center">Completada</th>
                            <th scope="col" class="text-center">Borrar</th>
                        </tr>
                    </thead>
                    <tbody class="info">
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">Tarea completa</td>
                            <td class="text-center"><input type="checkbox" value=""></td>
                            <td class="text-center"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

<!-- End Table List -->