/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

#container {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1878px;
    height: 90px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

#header {
    top: 0px;
    left: 0px;
    width: 1878px;
    height: 90px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.logo {
    /* Layout Properties */
    top: 20px;
    left: 40%;
    width: 300px;
    height: 70px;
    /* UI Properties */
    background: transparent url('./assets/images/logo.jpeg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

#nav {
    /* Layout Properties */
    top: 93px;
    left: 0px;
    width: 1878px;
    height: 198px;
    /* UI Properties */
    background: #01CEB6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

#new_task {
    /* Layout Properties */
    top: 140px;
    left: 334px;
    width: 41px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.62px;
    color: #FFFFFFDE;
    opacity: 1;
    position: absolute;
}

.label0 {
    /* Layout Properties */
    top: 140px;
    left: 379px;
    width: 114px;
    height: 26px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.62px;
    color: #FFFFFFDE;
    opacity: 1;
    position: absolute;
}

#tittle {
    /* Layout Properties */
    top: 189px;
    left: 346px;
    width: 32px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF99;
    opacity: 1;
    position: absolute;
}

#insert {
    /* Layout Properties */
    top: 216px;
    left: 350px;
    width: 125px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/16px Roboto;
    letter-spacing: 0.6px;
    color: #FFFFFFDE;
    opacity: 1;
    background-color: #01CEB6;
    position: absolute;
    border: #01CEB6;
}

#space-task {
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 90px;
}

.tasks-list {
    /* Layout Properties */
    top: 335px;
    left: 345px;
    width: 20px;
    height: 17px;
    object-fit: contain;
    /* UI Properties */
    /* background: transparent url('./assets/images/tasks.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute; */
}

.tarea {
    /* Layout Properties */
    top: 326px;
    left: 379px;
    width: 177px;
    height: 33px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 25px/24px Roboto;
    letter-spacing: 0.78px;
    color: #4B9F8E;
    opacity: 1;
    position: absolute;
}

.label1 {
    /* Layout Properties */
    top: 212px;
    left: 994px;
    width: 136px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0.5px;
    color: #FFFFFFDE;
    opacity: 1;
    position: absolute;
}

#check {
    /* Layout Properties */
    top: 215px;
    left: 1145px;
    width: 18px;
    height: 18px;
    /* UI Properties */
    position: absolute;
}

#save {
    /* Layout Properties */
    top: 194px;
    left: 1294px;
    width: 193px;
    height: 48px;
    /* UI Properties */
    opacity: 1;
    position: absolute;
}

#button {
    border-radius: 20px;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    text-align: left;
    color: #000000DE;
    opacity: 1;
    text-transform: uppercase;
    text-align: left;
    font: normal normal medium 14px/16px Roboto;
    font-size: small;
    letter-spacing: 1.25px;
    color: #000000DE;
    text-transform: uppercase;
    opacity: 1;
}

.search {
    /* Layout Properties */
    top: 320px;
    left: 1056px;
    width: 479px;
    height: 46px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC4C4;
    border-radius: 23px;
    opacity: 1;
    position: absolute;
}

#table {
    /* Layout Properties */
    top: 381px;
    left: 342px;
    width: 1193px;
    height: 546px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    opacity: 1;
}

#pagination {
    top: 0px;
    left: 27%;
    width: 1050px;
    height: 90px;
    position: relative;
}

.paginacion {
    margin: 20px 0;
}

.paginacion ul {
    list-style: none;
    text-align: center;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a {
    display: block;
    padding: 10px 10px;
    color: #fff;
    background: #D0D0D0 0% 0% no-repeat padding-box;
    text-decoration: none;
    border-radius: 15px;
}

.paginacion ul li a:hover {
    background: #FFC183;
}

.paginacion ul li .active {
    background: #FFC183;
    font-weight: bold;
}